<template>
  <Layout :headerOffset="false" :includeFooter="false">
    <HeroImage :image="require('@assets/images/HC-Marius-Masalar-Book.jpg')">
      <div class="page-not-found">
        <h2 class="page-not-found__title">404</h2>
        <div class="page-not-found__subtitle">
          You just hit a page that doesn't exist!
        </div>
        <g-link
          class="page-not-found__action button is-large is-secondary mt-md"
          to="/"
        >
          Go to Home
        </g-link>
      </div>
    </HeroImage>
  </Layout>
</template>

<script>
// Components
import HeroImage from "@components/Layout/HeroImage";

export default {
  name: "PageNotFound",
  components: {
    HeroImage,
  },
  metaInfo: {
    title: "Page Not Found",
  },
};
</script>

<style lang="scss" scoped>
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.page-not-found__title {
  margin-bottom: 24px;
  font-size: 8rem;
  line-height: 8rem;
  font-weight: bold;
  color: $theme-primary;
}

.page-not-found__subtitle {
  font-size: 1.5rem;
}
</style>
