// CSS reset
@import "reset";

@import "vars";
@import "utilities";

// Modules
@import "modules/containers";
@import "modules/elements";
@import "modules/buttons";
@import "modules/icons";
@import "modules/layout";
@import "modules/spacing";
@import "modules/typography";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background-color: #fcfcfc;
  line-height: 1.3;
  // Always show the scrollbar
  overflow-y: scroll;
}
